/build/
/dist/
/roms/
/ref/
/release/
/src_old/
/.venv/
__pycache__/
*.py[cod]
.DS_Store
*.sfc
*.smc
*.srm
*.spc
*.bsz
*.state
*.bin
*.brr
*.chr
*.pal
*.o
*.so
*.dylib
*.exe
*.sym
*.dbg
*.map
*.zip
*.7z
*.wav
*.mp3
*.ogg
*.flac
*.png
!/docs/screenshots/start-line.png
*.jpg
*.gif
*.mp4
*.ttf
*.otf
epr-*
opr-*
mpr-*
